{% load humanize %}
<html>
<head>
    <style type="text/css">
* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
div.container {
    margin: 0 auto;
    width: 948px;
    padding-top: 20px;
    position: relative;
}
table.request {
    font-size: 10pt;
    font-family: "ＭＳ Ｐゴシック";
    table-layout: fixed;
    border-image: initial;
    margin: -10px auto 20px;
    padding: 0px;
}
table.request .title {
    font-size: 20pt;
    text-align: center;
    text-decoration: underline;
}
table.request tr {
    height: 20px;
}
table.request td.bottom {
    border-bottom: 1px solid #000;
}
table.request td.left {
    border-left: 1px solid #000;
}
table.request td.top {
    border-top: 1px solid #000;
}
table.request td.border_right {
    border-right: 1px solid #000;
}
table.request td.align_left {
    text-align: left;
    padding-left: 3px;
}
table.request td.align_right {
    text-align: right;
    padding-right: 3px;
}
.center {
    text-align: center;
}
</style>
</head>
<body>
    <div class="container">
        {% if is_request == 'False' %}
            <img src="/static/admin/img/signature.png" style="position: absolute; width: 80px; left: 650px; top: 180px;"/>
        {% endif %}
        <table class="request" cellpadding="0" cellspacing="0" style="width: 850px;">
            <tr>
                <td colspan="9" style="text-align: right;">
                    <u>注文番号：
                            {{ bp_order.order_no }}
                    </u>
                </td>
            </tr>
            {% if is_request == 'True' %}
            <tr >
                <td></td>
                <td rowspan="4" class="center" style="border: 1px solid black;"> 印紙<br>（捺印） </td>
                <td colspan="7" style="text-align: right;">
                    <u>
                            {{ bp_order.bpmemberorderheading.publish_date }}
                    </u>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="9" style="text-align: right;">
                    <u>
                            {{ bp_order.bpmemberorderheading.publish_date }}
                    </u>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="9" class="center" style="font-size: 24px;">
                </td>
            </tr>
            <tr>
                <td colspan="9" class="center" style="font-size: 24px;">
            </tr>
            <tr>
                <td colspan="9" class="center" style="font-size: 24px;">
            </tr>
            <tr>
                <td colspan="9" class="center" style="font-size: 24px;">
                    <b>{% if is_request == 'True' %} 注　文　請　書 {% else %} 注&nbsp;&nbsp;文&nbsp;&nbsp;書 {% endif %}</b>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    {% if is_request == 'True' %} （甲） {% else %} （乙） {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <u>
                        {% if is_request == 'True' %}
                            {{ bp_order.bpmemberorderheading.company_name }}
                        {% else %}
                            {{ bp_order.bpmemberorderheading.subcontractor_name }}
                        {% endif %}
                    </u>
                    御中
                </td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td colspan="4">
                    {% if is_request == 'True' %} （乙） {% else %} （甲） {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td colspan="4">
                        {% if is_request == 'True' %}
                            {{ bp_order.bpmemberorderheading.subcontractor_name }}  ㊞
                        {% else %}
                            {{ bp_order.bpmemberorderheading.company_name }}
                        {% endif %}
                </td>
            </tr>
            {% if is_request == 'True' %}
            <tr>
                <td colspan="5"></td>
                <td colspan="4">
                      〒 {{ bp_order.bpmemberorderheading.subcontractor_post_code }}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="5"></td>
                <td colspan="4">
                {% if is_request == 'True' %}
                    {{ bp_order.bpmemberorderheading.subcontractor_address1 }}
                {% else %}
                    {{ bp_order.bpmemberorderheading.company_address1 }}
                {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td colspan="4">
                {% if is_request == 'True' %}
                    {{ bp_order.bpmemberorderheading.subcontractor_address2 }}
                {% else %}
                        {{ bp_order.bpmemberorderheading.company_address2 }}
                {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td colspan="4">
                    {% if is_request == 'True' %}
                        TEL:   {{ bp_order.bpmemberorderheading.subcontractor_tel }}
                    &nbsp;&nbsp;
                        {% if bp_order.bpmemberorderheading.subcontractor_fax %}
                            FAX:{{ bp_order.bpmemberorderheading.subcontractor_fax }}
                        {% endif %}
                    {% else %}
                        TEL:   {{ bp_order.bpmemberorderheading.company_tel }}
                    &nbsp;&nbsp;
                        FAX:{{ bp_order.bpmemberorderheading.company_fax }}
                    {% endif %}
                </td>
            </tr>
            <tr><td colspan="9">&nbsp;</td></tr>
            <tr>
                <td colspan="6">&nbsp;</td>
                <td>{% if is_request == 'True' %} 承認者 {% else %} 作成者 {% endif %}</td>
                <td colspan="2"></td>
            </tr>
            <tr style="height: 80px;">
                <td colspan="6">&nbsp;</td>
                <td class="center" style="border: 2px solid black;">
                    {% if is_request == 'False' %}
                        {% if user.first_name %}
                            {{ user.first_name }}
                        {% else %}
                            {{ user_first_name }}
                        {% endif %}
                    {% endif %}
                </td>
                <td colspan="2"></td>
            </tr>
            <tr><td colspan="9">&nbsp;</td></tr>
            {% if is_request == 'False' %}
            <tr>
                <td colspan="9">下記の通り注文致しますので、ご了承の上、折り返し注文請書をご送付下さい。</td>
            </tr>
            {% endif %}
            <tr style="height: 30px;">
                <td colspan="2" class="top left bottom center">業務名称</td>
                <td colspan="7" class="top left bottom align_left border_right">
                        {{ bp_order.bpmemberorderheading.project_name }}
                </td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2" class="left bottom center">作業期間</td>
                <td colspan="7" class="left bottom align_left border_right">
                        {{ bp_order.bpmemberorderheading.start_date }} ～ {{ bp_order.bpmemberorderheading.end_date }}
                </td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2" class="left bottom center">委託業務責任者（甲）</td>
                <td colspan="3" class="left bottom align_left border_right">
                        {{ bp_order.bpmemberorderheading.master }}
                </td>
                <td colspan="2" class=" bottom center">連絡窓口担当者（甲）</td>
                <td colspan="2" class="left bottom align_left border_right">
                        {{ bp_order.bpmemberorderheading.middleman }}
                </td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2" class="left bottom center">委託業務責任者（乙）</td>
                <td colspan="3" class="left bottom align_left border_right">
                        {{ bp_order.bpmemberorderheading.subcontractor_master }}
                </td>
                <td colspan="2" class=" bottom center">連絡窓口担当者（乙）</td>
                <td colspan="2" class="left bottom align_left border_right">
                        {{ bp_order.bpmemberorderheading.subcontractor_middleman|default:'' }}
                </td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2" class="left bottom center">作業責任者</td>
                <td colspan="7" class="left bottom align_left border_right">
                        {{ bp_order.bpmemberorderheading.member_name }}
                </td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2" class="left bottom center">業務委託料金</td>
                <td colspan="7" class="left bottom align_left border_right">
                        {% if bp_order.bpmemberorderheading.is_hourly_pay %}
                            <br/>
                            {{ bp_order.bpmemberorderheading.allowance_base_memo }}
                            <br/>
                            {% if bp_order.bpmemberorderheading.allowance_other_memo %}
                            {{ bp_order.bpmemberorderheading.allowance_other_memo }}
                            {% endif %}
                            <br/><br/>作業報告書に基づく稼動実費精算とする。<br/>
                        {% elif bp_order.bpmemberorderheading.is_fixed_cost %}
                            <br/><br/>
                            {{ bp_order.bpmemberorderheading.allowance_base_memo }}
                            <br/><br/><br/>
                        {% else %}
                            {{ bp_order.bpmemberorderheading.allowance_base_memo }}<br/>
                            {{ bp_order.bpmemberorderheading.allowance_overtime_memo }}<br/>
                            {{ bp_order.bpmemberorderheading.allowance_absenteeism_memo }}<br/>
                            {{ bp_order.bpmemberorderheading.calculate_type_comment|default:'' }}<br/>
                            {{ bp_order.bpmemberorderheading.allowance_time_memo }}<br/>
                            {% if bp_order.bpmemberorderheading.allowance_other_memo %}
                                {{ bp_order.bpmemberorderheading.allowance_other_memo }}<br/>
                            {% endif %}
                            {{ bp_order.bpmemberorderheading.comment }}<br/>
                            作業報告書に基づく稼動実費精算とする。
                        {% endif %}
                    <br/>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2" class="left bottom center">作業場所</td>
                <td colspan="7" class="left bottom align_left border_right">
                        {{ bp_order.bpmemberorderheading.location }}
                </td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2" class="left bottom center">納入物件</td>
                <td colspan="7" class="left bottom align_left border_right">
                        {{ bp_order.bpmemberorderheading.delivery_properties_comment }}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="left bottom center">支払条件</td>
                <td colspan="7" class="left bottom align_left border_right">
                        <pre style="min-height: 135px;">{{ bp_order.bpmemberorderheading.payment_condition_comments }}</pre>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="9">
                        <pre style="min-height: 170px;">{{ bp_order.bpmemberorderheading.contract_items_comments }}</pre>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>