{% extends theme|add:"/base.html" %}
{% load humanize %}
{% load order_by_tag %}
{% load sales_templates %}

{% block header %}
    <script type="text/javascript">
        window.onload = function() {
            init_select("first_name");
            init_select("last_name");
            init_select("company_name");
            init_select("project_name");
            init_select("contract_type");

            {% if subcontractor %}
                $("#send_mail_form").submit(function(){
                    ajax_post(
                        $(this).attr('action'),
                        $(this).serialize(),
                        function mail_callback_fn(data) {
                            if (data.result === false ) {
                                alert(data.message);
                            } else {
                                alert("メール送信しました。");
                                hide_dialog();
                            }
                        }
                    );
                    return false;
                });
            {% endif %}
        };

        function generate_request(obj, url, is_overwrite) {
            if (is_overwrite && !confirm("既に作成済みなので、上書きしてもよろしいですか？")) {
                return false;
            }
            musk();
            ajax_post(url, {}, function(data) {callback_fn(obj, data)});
        }

        function callback_fn (obj, data) {
            if ($(obj).text() == "新規作成") {
                $(obj).text("再作成");
                // 支払通知書ダウンロード
                download_pay_notify_link = "/eb/download/subcontractor_pay_notify/" + data.pk + ".html";
                $(obj).parent().next().append('<a href="' + download_pay_notify_link + '?ext=xlsx" target="_blank">Excel</a>');
                $(obj).parent().next().append('&nbsp;|&nbsp;<a href="' + download_pay_notify_link + '?ext=pdf" target="_blank">PDF</a>');
                // 支払通知書参照
                view_pay_notify_link = "/eb/subcontractor/subcontractor_pay_notify_view/" + data.pk + ".html";
                $(obj).parent().next().append('&nbsp;|&nbsp;<a href="' + view_pay_notify_link + '" target="_blank">' + data.pay_notify_no + '</a>');

                // 請求書ダウンロード
                download_request_link = "/eb/download/subcontractor_request/" + data.pk + ".html";
                $(obj).parent().next().next().append('<a href="' + download_request_link + '?ext=xlsx" target="_blank">Excel</a>');
                $(obj).parent().next().next().append('&nbsp;|&nbsp;<a href="' + download_request_link + '?ext=pdf" target="_blank">PDF</a>');
                // 請求書参照
                view_request_link = "/eb/subcontractor/subcontractor_request_view/" + data.pk + ".html";
                $(obj).parent().next().next().append('&nbsp;|&nbsp;<a href="' + view_request_link + '" target="_blank">' + data.request_no + '</a>');
                $(obj).parent().next().next().next().html('<img width="12px" src="/static/{{ theme }}/img/icon-warn.png"/>');
            }
            alert("作成完了しました！");
            unmask();
        }
    </script>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboard-title">{{ title }}</div>
        <form action="" method="get">
            <label for="first_name">姓: </label><input type="text" id="first_name" name="first_name" style="width: 50px;"/>
            <label for="last_name">名: </label><input type="text" id="last_name" name="last_name" style="width: 50px;"/>
            <label for="company_name">協力会社: </label><input type="text" id="company_name" name="company_name" style="width: 150px;"/>
            <label for="project_name">案件名: </label><input type="text" id="project_name" name="project_name" style="width: 150px;"/>
            <select name="contract_type" id="contract_type">
                <option value="">===契約形態===</option>
                <option value="01">業務委託</option>
                <option value="02">準委任</option>
                <option value="03">派遣</option>
                <option value="04">一括</option>
                <option value="11">出向（在籍）</option>
                <option value="12">出向（完全）</option>
                <option value="99">その他</option>
            </select>
            <input type="submit" value="Filter" />
            <a href="{{ request.path }}">クリア</a>
            <div class="example" style="float: right;">
                <span>凡例:</span>
                <div class="is_loan">出向社員</div>
            </div>
            {% if has_mail_preview %}
                <input type="button" onclick="javascript:show_dialog('preview_mail_send')" value="送信" style="padding: 0px 10px; float: right;"/>
            {% endif %}
            <div class="clear"></div>
        </form>
    </div>
    {% if subcontractor %}
        <table class="list" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>部署</th>
                    <th>作成</th>
                    <th>支払通知書</th>
                    <th>請求書</th>
                    <th>送信</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>部署</th>
                    <th>作成</th>
                    <th>支払通知書</th>
                    <th>請求書</th>
                    <th>送信</th>
                </tr>
            </tfoot>
            <tbody>
                {% for section, subcontractor_request in sections %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ section }}</td>
                    <td class="center">
                        <a onclick="generate_request(this, '{% url 'generate_subcontractor_request' subcontractor.pk section.pk year month %}', {% if subcontractor_request %}true{% else %}false{% endif %})"
                            href="javascript:void(0)">{% if subcontractor_request %}再作成{% else %}新規作成{% endif %}</a>
                    </td>
                    {% if subcontractor_request %}
                    <td>
                        <a href="{% url 'download_subcontractor_pay_notify' subcontractor_request.pk %}?ext=xlsx" target="_blank">Excel</a>&nbsp;|&nbsp;
                        <a href="{% url 'download_subcontractor_pay_notify' subcontractor_request.pk %}?ext=pdf" target="_blank">PDF</a>&nbsp;|&nbsp;
                        <a href="{% url 'view_subcontractor_pay_notify' subcontractor_request.pk %}" target="_blank">{{ subcontractor_request.pay_notify_no }}</a>
                    </td>
                    <td>
                        <a href="{% url 'download_subcontractor_request' subcontractor_request.pk %}?ext=xlsx" target="_blank">Excel</a>&nbsp;|&nbsp;
                        <a href="{% url 'download_subcontractor_request' subcontractor_request.pk %}?ext=pdf" target="_blank">PDF</a>&nbsp;|&nbsp;
                        <a href="{% url 'view_subcontractor_request' subcontractor_request.pk %}" target="_blank">{{ subcontractor_request.request_no }}</a>
                    </td>
                    <td>
                        {% if subcontractor_request.is_sent %}
                            <img width="12px" src="/static/{{ theme }}/img/icon-normal.png"/>
                        {% else %}
                            <img width="12px" src="/static/{{ theme }}/img/icon-warn.png"/>
                        {% endif %}
                    </td>
                    {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if has_mail_preview %}
        <div id="mask" onclick="hide_dialog()" class="mask">
        </div>
        <div class="dialog" id="preview_mail_send" style="width: 700px;">
            <form id="send_mail_form" action="{% url 'send_mail_bp_request' subcontractor.pk year month %}" method="post">
                <table>
                    <tbody>
                    <tr>
                        <th>差出人：</th>
                        <td>
                            <input name="sender" style="width: 500px;" readonly="readonly" value="{{ mail_group.mail_sender|default:'' }}"/>
                        </td>
                    </tr>
                    <tr>
                        <th>宛先：</th>
                        <td>
                            <input name="recipient_list" style="width: 500px;" value="{% for email in subcontractor.get_pay_notify_mail_list.0 %}{{email}},{% endfor %}"/>
                        </td>
                    </tr>
                    <tr>
                        <th>ＣＣ：</th>
                        <td>
                            <input name="cc_list" style="width: 500px;" value="{% for email in subcontractor.get_pay_notify_mail_list.1 %}{{email}},{% endfor %}"/>
                        </td>
                    </tr>
                    <tr>
                        <th>件名：</th>
                        <td>
                            <input name="mail_title" style="width: 500px;" value="{{ mail_title }}"/>
                        </td>
                    </tr>
                    <tr>
                        <th>添付：</th>
                        <td>
                            {% for section, subcontractor_request in sections %}
                                {{ subcontractor_request.filename_pdf }}<br/>
                                {{ subcontractor_request.pay_notify_filename_pdf }}<br/>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>内容：</th>
                        <td>
                            <textarea name="mail_body" style="width: 600px; height: 300px;">{{ mail_body }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="center">
                            <input type="submit" value="送信"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        {% endif %}
    {% endif %}
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>{% create_single_order_display "名前" "first_name" %}</th>
                <th style="width: 200px;">{% create_single_order_display "協力会社" "company_name" %}</th>
                <th style="width: 250px;">{% create_single_order_display "案件" "project_name" %}</th>
                <th>基本給</th>
                <th>基準時間</th>
                <th>増</th>
                <th>減</th>
                <th>出勤時間</th>
                <th>不足/超過</th>
                <th>交通費</th>
                <th>コスト（税抜）</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                {% for idx, data_row in object_list %}
                <tr class="{% cycle 'row1' 'row2' %} {% if data_row.is_loan %}is_loan{% endif %}">
                    <td>
                        {% if data_row.contract_type == '04' %}

                        {% else %}
                            <a href="{% url 'member_detail' data_row.employee_id %}">
                                {{ data_row.first_name }} {{ data_row.last_name }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <div style="width: 200px; overflow: hidden; white-space: nowrap;">
                            {{ data_row.company_name }}
                        </div>
                    </td>
                    <td>
                        {% if data_row.project_id %}
                            <div style="width: 250px; overflow: hidden; white-space: nowrap;">
                                <a href="{% url 'project_detail' data_row.project_id %}">{{ data_row.project_name }}</a>
                            </div>
                        {% else %}
                            {{ data_row.project_name }}
                        {% endif %}
                    </td>
                    <td class="num">{{ data_row.cost|floatformat:0|intcomma }}</td>
                    {% if data_row.is_hourly_pay %}
                        <td class="center" colspan="3">時給</td>
                    {% elif data_row.is_fixed_cost %}
                        <td class="center" colspan="3">固定</td>
                    {% else %}
                        <td>{{ data_row.min_hours|floatformat:2 }}～{{ data_row.max_hours|floatformat:2 }}</td>
                        <td class="num">{{ data_row.plus_per_hour|floatformat:0|intcomma }}</td>
                        <td class="num">{{ data_row.minus_per_hour|floatformat:0|intcomma }}</td>
                    {% endif %}
                    <td class="num">{{ data_row.total_hours|floatformat:2|intcomma }}</td>
                    <td class="num {% if data_row.extra_hours < 0 %}red{% endif %}">{{ data_row.extra_hours|floatformat:2 }}</td>
                    <td class="num">{{ data_row.traffic_cost|floatformat:0|intcomma }}</td>
                    <td class="num">{{ data_row.total_cost|floatformat:0|intcomma }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr class="row1"><td class="center red" colspan="11">協力会社がありません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    {% paging object_list %}
                </td>
                <td class="num">{{ summary.cost|floatformat:0|intcomma }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="num">{{ summary.total_hours|floatformat:2|intcomma }}</td>
                <td class="num">{{ summary.extra_hours|floatformat:2|intcomma }}</td>
                <td class="num">{{ summary.traffic_cost|floatformat:0|intcomma }}</td>
                <td class="num">{{ summary.total_cost|floatformat:0|intcomma }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}