{% extends theme|add:"/base.html" %}
{% load order_by_tag %}
{% load sales_templates %}
{% load year_month_filter %}

{% block header %}
    <script type="text/javascript">
        window.onload = function() {
            init_select("_status");
            init_select("member_name");
            init_select("salesperson_id");
            init_select("organization_id");
        };
    </script>
{% endblock %}

{% block content %}
{% now 'Y-m-d' as ymd %}
    <div class="dashboard">
        <div class="dashboard-title">{{ title }}</div>
        <form action="" method="get">
            <label for="member_name">名前: </label><input type="text" id="member_name" name="member_name" style="width: 80px;"/>
            {% organization_filter "organization_id" %}
            <select id="_status" name="_status">
                <option value="">===稼働状態===</option>
                <option value="sales">営業対象</option>
                <option value="working">稼働中</option>
                <option value="waiting">待機</option>
                <option value="off_sales">営業対象外</option>
            </select>
            <select id="salesperson_id" name="salesperson_id">
                <option value="">===営業員===</option>
                {% for sales in salesperson %}
                    <option value="{{ sales.pk }}">{{ sales }}</option>
                {% endfor %}
            </select>
            {% year_month_filter year month %}
            <input type="submit" value="Filter" />
            <a href="{{ request.path }}">クリア</a>
        </form>
    </div>
    <div class="dashboard">
        <div class="dashboard-title">{{ year }}年{{ month }}月の情報まとめ</div>
        <table>
            <tr>
                <th>社員数(営業対象内):</th>
                <td><b>{{ status_monthly.0.sales_on_count }}</b></td>
                <th>稼働中人数:</th>
                <td><b>{{ status_monthly.0.working_member_count }}</b></td>
                <th>待機中人数:</th>
                <td class="red"><b>{{ status_monthly.0.waiting_member_count }}</b></td>
            </tr>
        </table>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width: 80px;">{% create_single_order_display "社員番号" "employee_id" %}</th>
                <th>{% create_single_order_display "名前" "member_name" %}</th>
                <th>{% create_single_order_display "事業部" "division_name" %}</th>
                <th>{% create_single_order_display "部署" "section_name" %}</th>
                <th>{% create_single_order_display "課" "subsection_name" %}</th>
                <th>{% create_single_order_display "協力会社" "subcontractor_name" %}</th>
                <th style="width: 50px;">稼働</th>
                <th style="width: 90px;">{% create_single_order_display "営業員" "salesperson_name" %}</th>
                <th>営業対象外理由</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                {% for idx, data_row in object_list %}
                    <tr class="{% cycle 'row1' 'row2' %} {% if data_row.is_retired %}expired{% endif %} {% if data_row.is_loan %}is_loan{% endif %}">
                        <td>{{ data_row.employee_id }}</td>
                        <td>
                            <a href="{% url 'member_detail' data_row.employee_id %}">
                                {{ data_row.member_name }}
                            </a>
                        </td>
                        <td>{{ data_row.division_name|default:'' }}</td>
                        <td>{{ data_row.section_name|default:'' }}</td>
                        <td>{{ data_row.subsection_name|default:'' }}</td>
                        <td>{{ data_row.subcontractor_name|default:"" }}</td>
                        <td class="center">
                            {% if data_row.status_month == '01' %}
                                <img width="12px" src="/static/{{ theme }}/img/icon-normal.png"/>
                            {% else %}
                                <img width="12px" src="/static/{{ theme }}/img/icon-warn.png"/>
                            {% endif %}
                        </td>
                        <td>{{ data_row.salesperson_name|default:'' }}</td>
                        <td>{% if data_row.is_retired == 0 %}{{ data_row.salesofreason_name|default:'' }}{% endif %}</td>
                        <td class="center"><a href="{% url 'admin:eb_member_change' data_row.member_id %}?from=portal&_popup=1" target="_blank">編集</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="row2"><td class="center red" colspan="10">該当する社員がいません。</td></tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10">
                    {% paging object_list %}
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}