{% extends theme|add:"/base.html" %}
{% load humanize %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="dashboard">
        <img src="/static/admin/img/signature.png" style="position: absolute; width: 80px; left: 950px; top: 320px;"/>
        <div class="dashboard-title">{{ title }}</div>
        <form action="" method="get">
        </form>
        {% if request_heading %}
        <table class="request" cellpadding="0" cellspacing="0" style="width: 948px;">
            <tr>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
                <td style="width: 32px;"></td>
            </tr>
            <tr>
                <td colspan="18"></td>
                <td colspan="2">検収番号</td>
                <td colspan="3">{{ project_request.pay_notify_no }}</td>
            </tr>
            <tr>
                <th class="title" colspan="23">{{ project_request.year }}年{{ project_request.month }}月度検収兼お支払通知書</th>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td colspan="21" style="font-size: 18px; text-decoration: underline; font-weight: bold;">{{ request_heading.company_name }}&nbsp;&nbsp;&nbsp;&nbsp;殿</td>
                <td></td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td colspan="13">下記の通り、お支払いいたします。</td>
                <td colspan="8" style="font-size: 18px; font-weight: bold;">{{ request_heading.client_name }} </td>
                <td></td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td colspan="2">作成日付</td>
                <td colspan="11">{{ request_heading.created_date|date:'Y/m/d' }}</td>
                <td colspan="8">〒{{ request_heading.client_post_code }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">検収日付</td>
                <td colspan="11">{{ request_heading.publish_date|date:'Y/m/d' }}</td>
                <td colspan="8">{{ request_heading.client_address }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">お支払方法</td>
                <td colspan="11">銀行振込</td>
                <td colspan="8">TEL: {{ request_heading.client_tel }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FAX: {{ request_heading.client_fax }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">お支払日</td>
                <td colspan="19">ご登録支払サイト日</td>
                <td></td>
            </tr>
            <tr></tr>
            <tr style="font-weight: bold;">
                <td></td>
                <td colspan="4" style="border: 2px solid black; font-size: 15px; padding: 5px 2px;">合計金額（税込み）</td>
                <td colspan="4" style="border: 2px solid black; font-size: 15px; padding: 5px 2px; border-left: 0px; text-align: right;">
                    ￥{{ project_request.amount|intcomma }}</td>
                <td colspan="13"></td>
                <td></td>
            </tr>
            <tr></tr>
            <tr style="height: 30px; font-weight: bold;">
                <td></td>
                <td class="top center bottom left">番号</td>
                <td class="top center bottom left" colspan="6">名前</td>
                <td class="top center bottom left" colspan="2">数量</td>
                <td class="top center bottom left" colspan="2">単位</td>
                <td class="top center bottom left" colspan="2">単価</td>
                <td class="top center bottom left" colspan="3">金額</td>
                <td class="top center bottom left" colspan="2">諸経費</td>
                <td class="top center bottom left border_right" colspan="3">合計</td>
                <td></td>
            </tr>
            {% for item in request_details %}
            <tr style="height: 28px;">
                <td rowspan="4"></td>
                <td class="left bottom center" rowspan="4">{{ item.no }}</td>
                <td class="left bottom align_left" colspan="6">{{ item.project_member }}</td>
                <td class="left bottom align_right" colspan="2">{{ item.total_hours }}</td>
                <td class="left bottom align_right" colspan="2">{% if item %}時間{% endif %}</td>
                <td class="left bottom align_right" colspan="2">
                    {% if request_heading.is_hourly_pay %}
                        <!-- 時給の場合、時給の表示する。 -->
                        {{ item.hourly_pay|intcomma }}
                    {% else %}
                        {{ item.basic_price|intcomma }}
                    {% endif %}
                </td>
                <td class="left bottom align_right" colspan="3">{{ item.total_price|intcomma }}</td>
                <td class="left bottom align_right" colspan="2">{{ item.expenses_price|intcomma }}</td>
                <td class="left bottom align_right border_right" colspan="3">{{ item.total_price|add:item.expenses_price|intcomma }}</td>
                <td></td>
            </tr>
            <tr>
                <td class="left align_left" colspan="14">件名：&nbsp;&nbsp;{{ item.project_member.project }}</td>
                <td class="border_right" colspan="6">発注伝票番号：&nbsp;
                    {% if item.bp_member_order %}
                    <a href="{% url 'bp_member_order' item.bp_member_order.pk %}">{{ item.bp_member_order.order_no }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="left align_left" colspan="2">超過金額：</td>
                <td colspan="2">
                    {% if request_heading.is_hourly_pay %}
                        <!-- 時給の場合、０を表示。 -->
                    {% else %}
                        ¥{{ item.plus_amount|intcomma }}
                    {% endif %}
                </td>
                <td colspan="2">控除金額：</td>
                <td class="border_right" colspan="14">
                    {% if request_heading.is_hourly_pay %}
                        <!-- 時給の場合、０を表示。 -->
                    {% else %}
                        ¥{{ item.minus_amount|intcomma }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="left bottom" colspan="3">下限：&nbsp;&nbsp;{{ item.min_hours|stringformat:'d' }}時間</td>
                <td class="bottom" colspan="3">上限：&nbsp;&nbsp;{{ item.max_hours|stringformat:'d' }}時間</td>
                <td class="bottom" colspan="2">控除単価：</td>
                <td class="bottom" colspan="2">
                    {% if request_heading.is_hourly_pay %}
                        <!-- 時給の場合、０を表示。 -->
                    {% else %}
                        ¥{{ item.minus_per_hour|intcomma }}
                    {% endif %}
                </td>
                <td class="bottom" colspan="2">超過単価：</td>
                <td class="bottom border_right" colspan="8">
                    {% if request_heading.is_hourly_pay %}
                        <!-- 時給の場合、０を表示。 -->
                    {% else %}
                        ¥{{ item.plus_per_hour|intcomma }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td class="left align_right" colspan="11"></td>
                <td class="left bottom center" colspan="4">本体価格（内税含む）</td>
                <td class="left bottom align_right" colspan="3">{{ project_request.turnover_amount|intcomma }}</td>
                <td class="left align_left border_right" colspan="3"></td>
            </tr>
            <tr>
                <td></td>
                <td class="left align_right" colspan="11"></td>
                <td class="left bottom center" colspan="4">消費税等（外税額のみ）</td>
                <td class="left bottom align_right" colspan="3">{{ project_request.tax_amount|intcomma }}</td>
                <td class="left align_left border_right" colspan="3"></td>
            </tr>
            <tr>
                <td></td>
                <td class="left align_right" colspan="11"></td>
                <td class="left bottom center" colspan="4">諸経費計</td>
                <td class="left bottom align_right" colspan="3">{{ detail_expenses|intcomma }}</td>
                <td class="left align_left border_right" colspan="3"></td>
            </tr>
            <tr>
                <td></td>
                <td class="left bottom align_right" colspan="11"></td>
                <td class="left bottom center" colspan="4">合計</td>
                <td class="left bottom align_right" colspan="3">{{ project_request.amount|intcomma }}</td>
                <td class="left bottom align_left border_right" colspan="3"></td>
            </tr>
            <tr></tr>
        </table>
        {% else %}
        <div class="center red" style="margin-bottom: 20px;font-size: 20px;font-weight: bold;">
            履歴情報がありません！</div>
        {% endif %}
    </div>
{% endblock %}