{% extends theme|add:"/base.html" %}
{% load humanize %}
{% load order_by_tag %}

{% block header %}
<script type="text/javascript">
    $(document).ready(function () {
          setTimeout(function () {
            $('.load-delay').each(function () {
                var imagex = $(this);
                var imgOriginal = imagex.data('original');
                $(imagex).attr('src', imgOriginal);
            });
        }, 200);
    });
</script>
{% endblock %}

{% block content %}
    <div class="dashboard print">
        <div class="dashboard-title">{{ ym }} のお客様別の売上情報</div>
        <div class="center print">
            <img style="width: 900px; min-height: 440px;" class="load-delay" src="" data-original="{% url 'image_clients_turnover_monthly' year month %}">
        </div>
    </div>
    <table class="list" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>{% create_order_display "お客様名称" "" %}</th>
                <th>{% create_order_display "履歴" "" %}</th>
                <th>{% create_order_display "コスト" "" %}</th>
                <th>{% create_order_display "売上（税抜）" "" %}</th>
                <th>{% create_order_display "税金" "" %}</th>
                <th>{% create_order_display "精算" "" %}</th>
                <th>{% create_order_display "粗利" "" %}</th>
                <th>{% create_order_display "利率" "" %}</th>
            </tr>
        </thead>
        <tbody>
            {% if data_frame is None %}
                <tr class="row1"><td class="center red" colspan="8">売上情報がありません。</td></tr>
            {% else %}
                {% for idx, data_row in data_frame.iterrows %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>
                            {% if data_row.client_id %}
                            <a href="{% url 'turnover_client_monthly' data_row.client_id ym %}">{{ data_row.client_name }}</a>
                            {% endif %}
                        </td>
                        <td class="center">
                            {% if data_row.client_id %}
                            <a href="{% url 'turnover_client_yearly' data_row.client_id %}"><i class="fa fa-history" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                        <td class="num">{{ data_row.total_cost|floatformat:0|intcomma }}</td>
                        <td style="text-align: right; background: linear-gradient(90deg, transparent 0%, transparent 0.0%, #9adaaf 0.0%, #9adaaf {{ data_row.per|floatformat:1 }}%, transparent {{ data_row.per|floatformat:1 }}%)">
                            {{ data_row.total_price|floatformat:0|intcomma }}
                        </td>
                        <td class="num">{{ data_row.tax_price|floatformat:0|intcomma }}</td>
                        <td class="num">{{ data_row.expenses_price|floatformat:0|intcomma }}</td>
                        <td class="num {% if data_row.profit < 0 %}red{% endif %}">{{ data_row.profit|floatformat:0|intcomma }}</td>
                        <td class="num {% if data_row.profit_rate < 0 %}red{% endif %}">{{ data_row.profit_rate|floatformat:1|intcomma }}%</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td>{{ data_frame|length }} 件</td>
                <td></td>
                <td class="num">{{ summary.total_cost|floatformat:0|intcomma }}</td>
                <td class="num"> {{ summary.total_price|floatformat:0|intcomma }}</td>
                <td class="num"> {{ summary.tax_price|floatformat:0|intcomma }}</td>
                <td class="num"> {{ summary.expenses_price|floatformat:0|intcomma }}</td>
                <td class="num"> {{ summary.profit|floatformat:0|intcomma }}</td>
                <td class="num"> {{ summary.profit_rate|floatformat:1|intcomma }}%</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}